<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:titulo) %></title> <%# el método yield(:titulo) no solo puede renderizar el valor de cada vista... tambien podemos mostrar 
    en cada pestaña el valor provide(:titulo) que se le asigno al inicio de cada view%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
    #footer {
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
    padding-bottom: 30px;
    padding-top: 30px;
    }
    </style>
  </head>

  <body class="d-flex flex-column min-vh-100 text-secondary bg-dark">
    <h2> <strong>Esta página estan usando el layout: custom </strong> </h2>
    <%= yield %>

    <%= render "shared/footer"%> <%# este método se compone de la palabra reservada render y posteriormente la ubicacion del documento a renderizar
    que en este caso es el header que compartirán todas las páginas y que contiene los links al resto de las páginas%>
  </body>
</html>