<div class="row justify-content-center">
  <div class="col-8 text-center">
<%# aqui estamos accediendo a cada uno de los metodos de la variable de instancia, que a su vez son las columnas o atributos, de cada entidad o tabla de la base de datos %>
    <h1> <%= @articulo.titulo %> </h1> 
    <p> <%=@articulo.created_at.strftime("%d-%m-%y") %></p> <%# .strftime() es un metodo de ruby para darle formato a las fechas  %>
    <p> <%= @articulo.contenido %> </p> 

  </div>
</div>

<div class="row justify-content-center text-center pt-5">

  <div class="col">
    <%= link_to "índice de articulos", articulos_path %>
  </div>
  <div class="col">
    <%= link_to "editar Articulo", edit_articulo_path %>
  </div>
  <div class="col">
    <%= link_to "eliminar Articulo", @articulo, :method => :delete, data: {confirm: "seguro que quieres eliminar el articulo?"} %>
  </div>



</div>

